.Preheader {
  background-color: #5ac430;
}

.Preheader-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.Phone-number {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  color: #e4e4e4;
  column-gap: 10px;
}

.Language {
  margin-left: 18.1px;
  background-color: #e4e4e4;
  font: inherit;
  border: none;
  border-radius: 20px;
  padding: 4px 8px;
  color: black;
  position: relative;
  cursor: pointer;
}

.LanguageWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 5px;
}

.LanguageFirst {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.LanguageList {
  position: absolute;
  z-index: 80;
  right: 0;
  margin-top: 5px;
  padding: 4px 8.5px 4px;
  border-radius: 20px;
  background-color: #e4e4e4;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 300ms;
}

.LanguageListItem {
  list-style: none;
  display: flex;
  align-items: center;
  column-gap: 5px;
  padding-right: 28px;
  margin: 5px 0;
}

.LanguageIcon {
  width: 24px;
  height: 24px;
}
