.HomeBenefitsComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.HomeBenefitsComponent > h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 50px;
}

.HomeBenefitsComponent > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.Benefit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Benefit > span {
  width: 200px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
}
